api_endpoint = "https://console-api.fptcloud.com/api"
region       = "VN/HAN"
tenant_name  = "<tenant-name>"
vpc_id     = "<real-vpc-uuid>"
vpc_name   = "<vpc-name>"
name       = "hc-connect-check"
cidr       = "172.26.221.0/24"
gateway_ip = "172.26.221.1"
type       = "NAT_ROUTED"
